<ng-template #itemCountInfo let-count="count">
  {{count}}
</ng-template>

<ng-template *ngTemplateOutlet="itemCountInfo; context: {count: items.length}">
</ng-template>

<!--[appAttribute]="attribute"-->
<!--(appAttributeChange)="attribute=$event"-->
<app-purchase-list
  [(appAttribute)]="attribute"
  #attr="appAttribute"
  [items]="items"
  (removeItem)="onRemoveItem($event)"
></app-purchase-list>

{{attr.value}}

<ng-template *ngTemplateOutlet="itemCountInfo; context: {count: items.length}">
</ng-template>

<div *appStructural="items.length > 3">More than 3 elements</div>

<ng-template [appRepeatable]="items" let-item="item">
  <div>#{{item.id}} {{item.name}}</div>
</ng-template>
