<app-purchase-list
  [(appAttribute)]="attribute"
  #attr="appAttribute"
  [items]="items"
  (editItem)="onEditItem($event)"
  (removeItem)="onRemoveItem($event)"
></app-purchase-list>

<app-purchase-edit-form (save)="onSave($event)"></app-purchase-edit-form>

{{attr.value}}

<ng-template #itemCountInfo let-count="count">
  {{count}}
</ng-template>

<ng-template *ngTemplateOutlet="itemCountInfo; context: {count: items.length}">
</ng-template>

<!--[appAttribute]="attribute"-->
<!--(appAttributeChange)="attribute=$event"-->

<ng-template *ngTemplateOutlet="itemCountInfo; context: {count: items.length}">
</ng-template>

<div *appStructural="items.length > 3">More than 3 elements</div>

<ng-template [appRepeatableOf]="items" let-item>
  <div>#{{item.id}} {{item.name}}</div>
</ng-template>

<div *appRepeatable="let item of items">
  {{item.id}} {{item.name}}
</div>
