<!--<form #form="ngForm" (submit)="onSubmit($event, form)" (reset)="onReset($event, form)">-->
<form #form="ngForm">
  <fieldset [disabled]="loading">
    <input
      [(ngModel)]="model.name"
      #tplName="ngModel"
      type="text"
      name="name"
      required
      minlength="2"
      maxlength="50"
      appPriceValidator="100000"
      [class.is-invalid]="isInvalid(tplName)"
      [class.is-valid]="isValid(tplName)"
    >
    <ng-container *ngIf="isInvalid(tplName)">
      <span *ngIf="tplName.errors?.required">Field is required</span>
      <span *ngIf="tplName.errors?.minlength">Minimal length is {{tplName?.errors?.minlength?.requiredLength}}</span>
      <span *ngIf="tplName.errors?.appPriceValidator">Invalid price. Must be lower than {{tplName?.errors?.appPriceValidator?.requiredPrice}}</span>
    </ng-container>
    <input
      [(ngModel)]="model.price"
      #tplPrice="ngModel"
      type="text"
      name="price"
      required
    >
    <button type="button" (click)="onDraft()">Draft</button>
    <button type="button" (click)="onSave()">Save</button>
    <button type="reset">Reset</button>
    <button type="button" (click)="onDebug(tplName)">Debug</button>
  </fieldset>
</form>
